.backg {
  position: relative;
  width: 100wh;
  height: 100vh;
}

.sec-back {
  position: absolute;
  width: 90%;
  height: 100%;
}

.title {
  font-family: 'Advent Pro', sans-serif;
  color: white;
  position: absolute;
  width: 190px;
  height: 65px;
  top: 72px;
  font-weight: 300;
  font-size: 41px;
  line-height: 152.5%;
  /* or 63px */
  text-align: center;
  letter-spacing: 0.19em;
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin-left: 35px;
}

.title2 {
  font-family: 'Advent Pro', sans-serif;
  color: white;
  position: absolute;
  width: 201px;
  height: 76px;
  top: 140px;
  font-weight: 300;
  font-size: 41px;
  line-height: 152.5%;
  /* or 63px */
  text-align: center;
  letter-spacing: 0.19em;
  margin-left: 35px;
}

.stripe1 {
  position: absolute;
  left: -28.92%;
  right: -37.28%;
  top: 37.32%;
  bottom: 41.37%;
  background: rgba(215, 69, 69, 0.68);
  transform: rotate(34.95deg);
  z-index: 10;
}

.stripe2 {
  position: absolute;
  left: -66.59%;
  right: -94.37%;
  top: 75.53%;
  bottom: -18.84%;
  background: linear-gradient(180deg, rgba(231, 58, 58, 0.34) 0%, rgba(236, 148, 148, 0) 100%);
  transform: rotate(34.95deg);
  z-index: 10;
}

.form-inputs {
  margin-top: 250px;
  color: white;
  background: rgba(228, 73, 73, 0.97);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  z-index: 20;
}

.user_email {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-bottom: 9px;
}

.btn {
  background-color: rgba(228, 73, 73, 0.97);
  border: 0.5px solid white;
  color: white;
}

.circle {
  height: 128px;
  width: 128px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255, 191, 191, 0.13);
  color: white;
  position: relative;
  border: 2px solid white;
}

.plus {
  border: 1px solid white;
  color: #BC3F3F;
  width: 28px;
  height: 28px;
  background-color: #EAEAEA;
  border-radius: 3px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.exp-num {
  font-size: 50px;
  font-weight: bold;
}
