<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href=/stats>Stats</a>
  <%= link_to "Goals", goals_path %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</div>

<i class="fas fa-bars" style="color:white" onclick="openNav()"></i>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "60%";
  document.body.style.backgroundColor = "rgba(0,0,1)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
<div id="back">
  <h1>Stats</h1>
</div>
<div class="container d-flex justify-content-center">
  <div class="circle2 d-flex justify-content-center align-items-center">
  </div>
</div>
<div class="container d-flex justify-content-between">
  <div class="circle2 d-flex justify-content-center align-items-center">
  </div>
  <div class="circle2 d-flex justify-content-center align-items-center">
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="circle d-flex justify-content-center align-items-center">
    <%= "Lv." %> <%= content_tag(:p, current_user.experience, class:"exp-num") %>
  </div>
</div>


