.cust-btn {
  background-color: rgba(228, 73, 73, 0.97);
  border: 0.5px solid white;
  color: white;
  display: flex;
  justify-content: center;
  width: 30%;
}

#all-btn {
  background-color: #EAEAEA;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 24%;
  height: 30px;
}

#muscle-btn {
  background-color: #FB3838;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 24%;
  height: 30px;
}

#brain-btn {
  background-color: #3E95BB;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 24%;
  height: 30px;
}

#specialty-btn {
  background-color: #4DBB58;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 24%;
  height: 30px;
}
