.brain-card {
  background-color: #3E95BB;
  width: 40%;
}

.specialty-card {
  background-color: #4DBB58;
  width: 40%;
}

.muscle-card {
  background-color: #FB3838;
  width: 40%;
}

a {
  color: white;
}
