.card {
  background-color: rgba(255, 255, 255, 0.81);
  border-radius: 0px;
}

.brain-card {
  background-color: #3E95BB;
  width: 40%;
}

.specialty-card {
  background-color: #4DBB58;
  width: 40%;
}

.muscle-card {
  background-color: #FB3838;
  width: 40%;
}

a {
  color: white;
}
