<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href=stats_path>Stats</a>
  <%= link_to "Goals", goals_path %>
</div>

<i class="fas fa-bars" onclick="openNav()"></i>

<script>
  function openNav() {
  document.getElementById("mySidenav").style.width = "60%";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.body.style.backgroundColor = "white";
}
</script>


<div class="container">
  <%= current_user.experience %>
  <% if @goals.present? %>
  <a href="goals/new">+</a>
    <li style="list-style-type: none;">
    <% @goals.each do |goal| %>
    <ul class="card"><%= link_to goal.name,goal_path(goal) %>    </ul>
    <% end %>
    </li>
    <% else %>
    <%= "No goals yet?" %>
    <div>
      <a href='goals/new' class="btn btn-danger">Set some</a>
    </div>
    <% end %>
</div>


